@charset "utf-8";

/**********************************************************************
* Descript : 레이어팝업 스타일 정의
-----------------------------------------------------------------------
* 최초작성일 : 2018.06.29
* 최초작성자 : 더웹 유대경
***********************************************************************/

/**********************************************************************
* Descript : 레이어팝업 Dim 효과 및 전체영역 고정
***********************************************************************/
#pop-layer{}
/**********************************************************************/

/**********************************************************************
* Descript : 레이어팝업 최소 넓이값 지정
***********************************************************************/
#pop-layer .pop-inner{}
/**********************************************************************/

/**********************************************************************
* Descript : 레이어팝업 콘트롤박스(닫기 및 일주일간 공지창 띄우지 않음)
***********************************************************************/
#pop-layer .pop-controller{position:relative; box-sizing:border-box; height:35px; line-height:35px; padding:0 10px; background:rgba(0,0,0,0.7); text-align:right;}
#pop-layer .pop-controller label{position:absolute; text-align:left; display:block; color:#fff; font-size:13px; height:inherit; line-height:inherit; cursor:pointer;}
#pop-layer .pop-controller label input[type="checkbox"]{display:none;}
#pop-layer .pop-controller a{display:inline-block; color:#fff; font-size:15px; height:inherit; line-height:inherit; cursor:pointer;}
/**********************************************************************/