<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.BeforeAfterMapper">

	<select id="selectAll" resultType="BeforeAfterVO">
		select * from before_after order by no desc
	</select>
	
	<select id="selectOne" resultType="BeforeAfterVO">
		select * from before_after where no=#{no}
	</select>
	
	<select id="selectByType" resultType="BeforeAfterVO">
		select * from before_after where use_state=#{use_state} and clinic_type=#{clinic_type}
	</select>
	
	<insert id="insert">
		insert into before_after values(0, #{clinic_type}, #{writer}, #{regdate}, 0, #{title}, #{content}, #{use_state}, #{img_before_origin}, #{img_before_stored}, #{img_after_origin}, #{img_after_stored})
	</insert>
	
	<update id="update">
		update before_after set clinic_type=#{clinic_type}, writer=#{writer}, regdate=#{regdate}, title=#{title}, content=#{content}, use_state=#{use_state}, img_before_origin=#{img_before_origin}, img_before_stored=#{img_before_stored}, img_after_origin=#{img_after_origin}, img_after_stored=#{img_after_stored} where no=#{no}
	</update>
	
	<update id="updateUseState">
		update before_after set useState=#{use_state} where no=#{no}
	</update>
	
	<update id="updateBeforeImg">
		update before_after set img_before_origin=#{img_before_origin}, img_before_stored=#{img_before_stored} where no=#{no}
	</update>
	
	<update id="updateAfterImg">
		update before_after set img_after_origin=#{img_after_origin}, img_after_stored=#{img_after_stored} where no=#{no}
	</update>
	
	<delete id="delete">
		delete from before_after where no=#{no}
	</delete>
	
	<select id="listSearch" resultType="BeforeAfterVO">
		select * from before_after where use_state='o' <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}  
	</select>
	
	<select id="listSearch9" resultType="BeforeAfterVO">
		select * from before_after where use_state='o' <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}  
	</select>
	
	<select id="listSearchAll" resultType="BeforeAfterVO">
		select * from before_after where no>0 <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}  
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			and title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='c'.toString()">
			and content like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='w'.toString()">
			and writer=#{keyword}
		</if>
		<if test="searchType=='ct'.toString()">
			and clinic_type like concat('%',#{keyword},'%') 
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(no) from before_after where use_state='o' <include refid="search"></include>
	</select>
	
	<select id="listSearchCount9" resultType="int">
		select count(no) from before_after where use_state='o' <include refid="search"></include>
	</select>
	
	<select id="listSearchCountAll" resultType="int">
		select count(no) from before_after where no > 0 <include refid="search"></include>
	</select>
	
</mapper>