<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.EventMapper">

	<select id="selectAll" resultType="EventVO">
		select * from event where use_state='o' order by no desc
	</select>
	
	<select id="selectOne" resultType="EventVO">
		select * from event where no=#{no}
	</select>
	
	<insert id="insert">
		insert into event values(0, #{regdate}, #{title}, #{start_date}, #{end_date}, #{content}, #{use_state}, #{thumb_origin}, #{thumb_stored})
	</insert>
	
	<update id="update">
		update event set title=#{title}, start_date=#{start_date}, end_date=#{end_date}, content=#{content}, use_state=#{use_state}, thumb_origin=#{thumb_origin}, thumb_stored=#{thumb_stored} where no=#{no}
	</update>
	
	<update id="updateThumb">
		update event set thumb_origin=#{thumb_origin}, thumb_stored=#{thumb_stored} where no=#{no}
	</update>
	
	<update id="updateCnt">
		update event set cnt=cnt+1 where no=#{no}
	</update>
	
	<update id="updateUseState">
		update event set use_State=#{use_state} where no=#{no}
	</update>
	
	<delete id="delete">
		delete from event where no=#{no}
	</delete>
	
	<select id="listSearch" resultType="EventVO">
		select * from event where use_state='o' <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}
	</select>
	
	<select id="listSearch12" resultType="EventVO">
		select * from event where use_state='o' <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}
	</select>
	
	<select id="listSearchAll" resultType="EventVO">
		select * from event where no>0 <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			and title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='c'.toString()">
			and content like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='w'.toString()">
			and writer=#{keyword}
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(no) from event where use_state='o' <include refid="search"></include>
	</select>
	
	<select id="listSearchCount12" resultType="int">
		select count(no) from event where use_state='o' <include refid="search"></include>
	</select>
	
	<select id="listSearchCountAll" resultType="int">
		select count(no) from event where no>0 <include refid="search"></include>
	</select>
	
</mapper>