<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.NoticeMapper">

	<select id="selectAll" resultType="NoticeVO">
		select * from notice order by no desc and use_state='o'
	</select>
	
	<select id="selectOne" resultType="NoticeVO">
		select * from notice where no=#{no}
	</select>
	
	<select id="selectBefore" resultType="NoticeVO">
		select * from notice where no=(select min(no) from notice where no<![CDATA[>]]>#{no}) and top_state='x' and use_state='o'
	</select>
	
	<select id="selectAfter" resultType="NoticeVO">
		select * from notice where no=(select max(no) from notice where no<![CDATA[<]]>#{no}) and top_state='x' and use_state='o'
	</select>
	
	<select id="selectTopNotice" resultType="NoticeVO">
		select * from notice where top_state ='o' and use_state like concat('%',#{use_state},'%') order by no desc;
	</select>
	
	<insert id="insert">
		insert into notice values(0, #{top_state}, #{writer}, #{regdate}, #{cnt}, #{title}, #{content}, #{use_state})
	</insert>
	
	<update id="update">
		update notice set top_state=#{top_state}, writer=#{writer}, regdate=#{regdate}, cnt=#{cnt}, title=#{title}, content=#{content}, use_state=#{use_state} where no=#{no}
	</update>
	
	<update id="updateCnt">
		update notice set cnt=cnt+1 where no=#{no}
	</update>
	
	<update id="updateUseState">
		update notice set useState=#{use_state} where no=#{no}
	</update>
	
	<delete id="delete">
		delete from notice where no=#{no}
	</delete>
	
	<select id="listSearch" resultType="NoticeVO">
		select * from notice where top_state='x' and use_state='o' <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}  
	</select>
	
	<select id="listSearchAll" resultType="NoticeVO">
		select * from notice where top_state='x' <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}  
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			and title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='c'.toString()">
			and content like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='w'.toString()">
			and writer=#{keyword}
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(no) from notice where top_state='x' and use_state='o' <include refid="search"></include>
	</select>
	
	<select id="listSearchCountAll" resultType="int">
		select count(no) from notice where top_state='x' <include refid="search"></include>
	</select>
	
</mapper>